.main-wrapper {
    height: 100%;
}

.order-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 50%;
    right: 0;
    cursor: pointer;
    z-index: 999999999;
}

.drawer {
    width: 50%;
}