.main-wrapper {
    height: 100%;
}

.order-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 50%;
    right: 0;
    cursor: pointer;
}