/* You can add global styles to this file, and also import other style files */
@import "~@angular/cdk/overlay-prebuilt.css";

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}


:root {
  --primary: #F57C00;
  --accent: #3F51B5;
  --success: #66BB6A;
  --warning: #EF5350;
  --info: #42A5F5;
}

.img {
  width: 100%;
  height: auto;
}

.mat-mdc-snack-bar-container {
  &.success-snackbar {
    --mdc-snackbar-container-color: var(--success);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.warning-snackbar {
    --mdc-snackbar-container-color: var(--warning);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
  &.info-snackbar {
    --mdc-snackbar-container-color: var(--info);
    --mat-mdc-snack-bar-button-color: #fff;
    --mdc-snackbar-supporting-text-color: #fff;
  }
}


.full-screen-image-backdrop {
  background-color: black;
  opacity: 0.8 !important;
}