.main-wrapper {
  width: 100%;
  height: 100%;
}

.form-wrapper {
  padding: 0.5rem;
}

.submit-btn-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
}

.logo-mobile {
  display: none;
}

.logo-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 1rem;
}

@media (max-width: 960px) {
  .btn {
    width: 100%;
  }

  .logo-desktop {
    display: none;
  }

  .logo-mobile {
    display: inline;
  }
}
