<button mat-icon-button [matMenuTriggerFor]="menu">
    <mat-icon>format_align_right</mat-icon>
</button>
<mat-menu #menu="matMenu">
    <div class="menu-wrapper">
        <button mat-icon-button>
            <mat-icon matBadge="5">mail_outline</mat-icon>
        </button>
        <button mat-icon-button>
            <mat-icon matBadge="3">notifications_none</mat-icon>
        </button>
        <div class="img-wrapper">
            <img src="assets/img/profile.jpg" alt="profile picture" class="img">
        </div>
    </div>
</mat-menu>