@if (employee) {
<div class="main-wrapper">
  <div class="image-wrapper">
    <img
      class="bg-image"
      src="{{ employee.restaurant.profileImage }}"
      alt="restaurant-image"
      (load)="isBackgroundImageLoading.set(false)"
    />
    @if (isBackgroundImageLoading()) {
    <div class="spinner-wrapper">
      <mat-spinner></mat-spinner>
    </div>
    }
    <div class="profile-image-wrapper">
      <img
        src="{{ employee.profileImage }}"
        alt="profile-image"
        class="profile-image"
      />
    </div>
  </div>
  <div class="header">
    <div class="username">{{ employee.username }}</div>
    <div class="name">{{ employee.lastName }} {{ employee.firstName }}</div>
  </div>

  <div class="description">
    {{ employee.description }}
  </div>

  <div class="button-wrapper">
    <button
      type="button"
      color="accent"
      mat-raised-button
      (click)="onViewMore()"
    >
      View More
    </button>
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="onRestaurant()"
    >
      {{ employee.restaurant.name }}
    </button>
  </div>
</div>
}
