.main-wrapper {
    width: 100%;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: #2d3e3e;
}

.image-wrapper {
    position: relative;
}

.bg-image {
    width: 100%;
    height: auto;
}

.profile-image-wrapper {
    position: absolute;
    height: 7rem;
    width: 7rem;
    top: 70%;
    left: 5%;
    border-radius: 50%;
    background-color: black;
    border: 1px solid var(--primary);
    overflow: hidden;
}

.profile-image {
    width: 100%;
    height: 100%;
}

.spinner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0.5rem;
}

.username {
    font-size: 1.4rem;
    margin-bottom: 0.2rem;
}

.name {
    color: var(--primary);
}

.description {
    padding: 0.5rem;
    color: #79cccf;
    margin-bottom: 0.5rem;
}

.button-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding: 0.5rem;
}