.main-wrapper {
    height: 100%;
    flex-direction: column;
}

.form-wrapper {
    display: flex;
    flex-direction: column;
    padding: 0.5rem;
}

.logo-wrapper {
    margin-bottom: 1rem;
}

.guest-btn {
    margin-top: 0.5rem;
}