<div class="main-wrapper">
  <form class="form-wrapper" [formGroup]="chatForm">
    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Chat Name</mat-label>
      <input matInput placeholder="Enter chat name" formControlName="name" />
    </mat-form-field>
  </form>

  <div class="search-wrapper">
    <app-search-bar (search)="onSearch($event)" [placeholder]="'Search by username'"></app-search-bar>
  </div>

  <div class="current-participants-wrapper">
    <mat-chip-listbox aria-label="Participants selection">
      <ng-container *ngFor="let participant of chatParticipants">
        <mat-chip>
          <img
            matChipAvatar
            src="{{
              participant.profileImage || 'assets/img/default-profile.png'
            }}"
            alt="Profile Image"
          />
          {{ participant.username }}
          <button
            type="button"
            matChipRemove
            (click)="onRemoveChatParticipant(participant)"
          >
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
      </ng-container>
    </mat-chip-listbox>
  </div>

  <div class="divider-wrapper">
    <mat-divider></mat-divider>
  </div>

  <div class="participants-wrapper">
    <mat-chip-listbox aria-label="Users selection">

      <ng-container *ngFor="let user of searchedUsers">
        <mat-chip color="accent" (click)="onAddChatParticipant(user)">
          <img
            matChipAvatar
            src="{{ user.profileImage || 'assets/img/default-profile.png' }}"
            alt="Profile image"
          />
          {{ user.username }}
        </mat-chip>
      </ng-container>

    </mat-chip-listbox>
  </div>

  <div class="btn-wrapper">
    <button type="button" mat-raised-button color="warn" (click)="onClose()">
      Cancel
    </button>
    <button
      type="button"
      mat-raised-button
      color="accent"
      [disabled]="
        chatForm.invalid || chatParticipants.length <= 0
      "
    >
      Save
    </button>
  </div>
</div>
