<div class="main-wrapper" *ngIf="messagesMenu">
  <button type="button" mat-icon-button (click)="openMessages = !openMessages">
    <mat-icon matBadge="{{ messagesMenu.notSeenNumber }}" aria-hidden="false"
      >chat</mat-icon
    >
  </button>

  <div class="notifications-menu-wrapper" *ngIf="openMessages">
    <div class="header">
      Messages
      <mat-chip class="chip">{{ messagesMenu.notSeenNumber }} New</mat-chip>
      <div class="mark-all-as-read" (click)="onAllAsRead()">
        Mark all as read
      </div>
    </div>

    <div class="notifications-wrapper">
      <ng-container *ngFor="let message of messagesMenu.messages">
        <app-message [inMenuBtn]="true" [message]="message"></app-message>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
    <div
      class="footer"
      routerLink="/notifications"
      (click)="openMessages = false"
      matRipple
      [matRippleColor]="'var(--primary-light)'"
    >
      View All Messages
    </div>
  </div>
</div>
