<div class="main-wrapper">
    <button type="button" mat-icon-button (click)="openChat = !openChat">
        <mat-icon aria-hidden="false" matBadge="5">chat</mat-icon>
    </button>

    <div class="notifications-menu-wrapper" *ngIf="openChat">
        <div class="header">
          Messages
          <mat-chip class="chip">5 New</mat-chip>
          <div class="mark-all-as-read" (click)="onAllAsRead()">
            Mark all as read
          </div>
        </div>
    
        <div class="notifications-wrapper">
          <app-message-menu></app-message-menu>
        </div>
        <div
          class="footer"
          routerLink="/notifications"
          (click)="openChat = false"
          matRipple
          [matRippleColor]="'var(--primary-light)'"
        >
          View All Messages
        </div>
      </div>
</div>