.main-wrapper {
  width: 300px;
  border: 1px solid var(--primary);
  border-bottom: none;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  cursor: pointer;
  position: fixed;
  bottom: 0;
  right: 2rem;
}

.header {
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem 2rem;
  font-size: 16px;
  border-bottom: 1px solid var(--primary);
}

.body {
    height: 50vh;
}