<div class="main-wrapper" *ngIf="chat">
  <div class="header" matRipple [matRippleColor]="'var(--primary-light)'" (click)="isOpen = !isOpen">
    <div>{{ chat.name }}</div>

    <button type="button" mat-icon-button (click)="onClose($event)">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div class="body" [ngStyle]="{
      height: isOpen ? '50vh' : '0',
      transition: 'height 0.5s ease-in-out'
    }">
    <div class="message-wrapper">
      <ng-container *ngFor="let message of chat.messages">
        <app-message [message]="message"></app-message>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
    <div class="input-wrapper">
      <input type="text" />
      <button type="button" mat-icon-button color="primary">
        <mat-icon>send</mat-icon>
      </button>
    </div>
  </div>
</div>