.main-wrapper {
    min-width: 300px;
    padding: 1rem;
}

.form-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.submit-btn {
    align-self: flex-start;
}

.chips-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.divider-wrapper {
    margin: 1rem 0;
}

.participants-wrapper {
    max-height: 40vh;
    overflow-x: hidden;
    overflow-y: auto;
}