<ng-container *ngIf="account">
    <app-account-header 
    [accountHeader]="account.accountHeader"
    (edit)="onEdit()"
    >
    </app-account-header>
    
    <div class="info-wrapper">
        <div class="table">
            <div class="row">
                <div>{{ 'username' | translate | titlecase }}</div>
                <div>{{ account.username }}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="row">
                <div>{{ 'name' | translate | titlecase }}</div>
                <div>{{ account.firstName }}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="row">
                <div>{{ 'last name' | translate | titlecase }}</div>
                <div>{{ account.lastName }}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="row">
                <div>{{ 'email' | translate | titlecase }}</div>
                <div>{{ account.email }}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="row">
                <div>{{ 'country' | translate | titlecase }}</div>
                <div>{{ account.country }}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="row">
                <div>{{ 'city' | translate | titlecase }}</div>
                <div>{{ account.city }}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="row">
                <div>{{ 'address' | translate | titlecase }}</div>
                <div>{{ account.address }}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="row">
                <div>{{ 'phone' | translate | titlecase }}</div>
                <div>{{ account.phoneNumber }}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="row">
                <div>{{ 'birth' | translate | titlecase }}</div>
                <div>{{ account.birth }}</div>
            </div>
            <mat-divider class="divider"></mat-divider>
            <div class="row">
                <div>{{ 'restaurant' | translate | titlecase }}</div>
                <div>{{ account.restaurant }}</div>
            </div>
        </div>

        <div class="description-wrapper">
            <h1>{{ 'description' | translate | titlecase }}</h1>
            <div>{{ account.description }}</div>
        </div>
    </div>
</ng-container>