.card-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.paginator-wrapper {
    margin-top: 1rem;
}

.paginator {
    display: flex;
    border-radius: 5px;
    align-items: center;
    justify-content: center;
    color: var(--primary);
}

@media (max-width: 960px) {
    .card-wrapper {
        justify-content: center;
    }
}