<div class="main-wrapper">
  <button
    type="button"
    mat-icon-button
    (click)="openNotifications = !openNotifications"
  >
    <mat-icon svgIcon="notification" matBadge="4"></mat-icon>
  </button>

  <div
    class="notifications-menu-wrapper"
    *ngIf="openNotifications"
  >
    <div class="header">
      Notifications
      <mat-chip class="chip">4 New</mat-chip>
    </div>

    <div class="notifications-wrapper">
      <app-notification></app-notification>
      <mat-divider></mat-divider>
      <app-notification></app-notification>
      <mat-divider></mat-divider>
      <app-notification></app-notification>
      <mat-divider></mat-divider>
      <app-notification></app-notification>
      <mat-divider></mat-divider>
      <app-notification></app-notification>
    </div>
    <div class="footer">View All Notifications</div>
  </div>
</div>
