.form-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.info-wrapper {
    flex: 50%;
    padding: 1rem;
}

.description-wrapper {
    flex: 50%;
    padding: 1rem;
}

.two-col {
    display: flex;
    flex-direction: row;
    gap: 1rem;
}

.input-wrapper {
    width: 100%;
}

.is-active-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.btn-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    margin-top: 1rem;
}

@media (max-width: 960px) {
    .info-wrapper,
    .description-wrapper {
        flex: 100%;
    }

    .two-col {
        flex-direction: column;
        gap: 0;
    }
}