<div class="main-wrapper" *ngIf="chatsMenu">
  <button type="button" mat-icon-button (click)="openMessages = !openMessages">
    <mat-icon matBadge="{{ chatsMenu.notSeenNumber }}" aria-hidden="false">chat</mat-icon>
  </button>

  <div class="notifications-menu-wrapper" *ngIf="openMessages">
    <div class="header">
      Messages
      <mat-chip class="chip">{{ chatsMenu.notSeenNumber }} New</mat-chip>
      <div class="mark-all-as-read" (click)="onAllAsRead()">
        Mark all as read
      </div>
    </div>

    <div class="notifications-wrapper">
      <ng-container *ngFor="let chat of chatsMenu.chats">
        <app-side-nav-chat [chat]="chat" (selectedChat)="onSelectedChat($event)"></app-side-nav-chat>
        <mat-divider></mat-divider>
      </ng-container>
    </div>
    <div class="footer" routerLink="/chats" (click)="openMessages = false" matRipple
      [matRippleColor]="'var(--primary-light)'">
      View All Messages
    </div>
  </div>
</div>