@if (accountForm && account) {
<div class="two-col image-form-wrapper">
  <div class="left-side">
    <div class="img-wrapper">
      <img src="{{ profileImage.url }}" alt="profile image" class="img" />
    </div>
  </div>

  <div class="img-btn-wrapper">
    <button
      type="button"
      color="accent"
      mat-raised-button
      (click)="imgInput.click()"
    >
      {{ 'upload image' | translate | titlecase }}
    </button>
    <button
      type="button"
      color="warn"
      mat-raised-button
      (click)="onRemoveProfileImage()"
      [disabled]="!profileImageForm.has('image')"
    >
      {{ 'remove' | translate | titlecase }}
    </button>
    <button
      type="button"
      color="primary"
      mat-raised-button
      (click)="onSubmitProfileImage()"
      [disabled]="!profileImageForm.has('image')"
    >
      {{ 'save' | translate | titlecase }}
    </button>

    <input
      type="file"
      style="display: none"
      #imgInput
      multiple="false"
      accept="image/*"
      (change)="onUploadImage($event)"
    />
  </div>
</div>

<form class="form-wrapper" [formGroup]="accountForm" (ngSubmit)="onSubmit()">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'username' | translate | titlecase }}</mat-label>
    <input matInput formControlName="username" />
  </mat-form-field>

  <div class="two-col">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'name'| translate | titlecase }}</mat-label>
      <input matInput formControlName="firstName" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'last name' | translate | titlecase }}</mat-label>
      <input matInput formControlName="lastName" />
    </mat-form-field>
  </div>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'select country' | translate | titlecase }}</mat-label>
    <mat-select formControlName="countryId">
      @for (country of account.countries; track country) {
      <mat-option [value]="country.id">{{ country.name }}</mat-option>
      }
    </mat-select>
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'city' | translate | titlecase }}</mat-label>
    <input matInput formControlName="city" />
  </mat-form-field>

  <mat-form-field appearance="outline">
    <mat-label>{{ 'description' | translate | titlecase }}</mat-label>
    <textarea matInput formControlName="description"></textarea>
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    type="submit"
    [disabled]="accountForm.invalid || !accountForm.dirty"
  >
    {{ 'update' | translate | titlecase }}
  </button>
</form>
}
