.main-wrapper {
    position: fixed;
    width: 100%;
    z-index: 1;
    bottom: 0;
    background-color: #1c2b2b;
    display: flex;
    align-items: center;
    padding: 0.5rem 0;
    justify-content: space-evenly;
}

.btn {
    display: flex;
    flex-direction: column;
    font-size: 0.6rem;
    align-items: center;
    cursor: pointer;
}