.main-wrapper {
    position: relative;
}

.notifications-menu-wrapper {
    width: 300px;
    position: absolute;
    right: 0;
    top: 100%;
    border-radius: 5px;
    z-index: 1000;
    color: black;
    background-color: white;
}

.notifications-wrapper {
    border-top: 1px solid var(--primary);
    border-bottom: 1px solid var(--primary);
}

.header {
    font-size: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.chip {
    height: 20px;
    background-color: var(--primary) !important;
}

.footer {
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
}

.mark-all-as-read {
    font-size: 10px;
    text-decoration: underline;
    font-style: italic;
    color: var(--accent);
    cursor: pointer;
}