<div class="main-wrapper" *ngIf="chat">
  <div class="header mat-app-background" matRipple [matRippleColor]="'var(--primary-light)'" (click)="openChat()">
    <div (click)="onClickChatName($event)">{{ chat.name }} <span class="participants-number">+{{ chat.participants.length }}</span></div>

    <button type="button" mat-icon-button (click)="onClose($event)">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <div class="body" [ngStyle]="{
      height: isOpen ? '50vh' : '0',
      transition: 'height 0.5s ease-in-out'
    }">
    <div class="message-wrapper" #scrollContainer>
      <ng-container *ngFor="let message of chat.messages">
        <app-message [message]="message"></app-message>
      </ng-container>
    </div>
    <form [formGroup]="chatForm" (ngSubmit)="onSend()" class="input-wrapper mat-app-background">
      <input formControlName="content" type="text" />
      <button mat-icon-button color="primary" [disabled]="chatForm.invalid">
        <mat-icon>send</mat-icon>
      </button>
    </form>
  </div>
</div>