<div
  *ngIf="employee"
  class="header-wrapper"
  [ngStyle]="{
    'background-image': 'url(http://localhost:5000/images/default/default.png)'
  }"
>
  <div class="header-content-wrapper">
    <div class="profile-picture-wrapper">
      <img
        src="{{ employee.profileImage || 'http://localhost:5000/images/default/default-profile.png' }}"
        class="profile-image"
        alt="profile image"
        (load)="isProfileLoading = false"
      />
      <div class="profile-spinner-wrapper" *ngIf="isProfileLoading">
        <mat-spinner color="primary"></mat-spinner>
      </div>
    </div>
    <div class="header-name-and-buttons-wrapper">
      <div class="header-name-wrapper">
        <h1 class="full-name">
          {{ employee.lastName }} {{ employee.firstName }}
        </h1>
        <div class="username">{{ employee.username }}</div>
      </div>
      <div class="header-btn-wrapper">
        <button
          mat-raised-button
          color="accent"
          type="button"
          routerLink="/employees/edit/{{ employee.id }}"
        >
          Edit
        </button>
        <button mat-raised-button color="warn" type="button" (click)="onDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
