<div
  *ngIf="employee"
  class="header-wrapper"
  [ngStyle]="{
    'background-image': 'url(' + employee.restaurant.profileImage + ')'
  }"
>
  <div class="header-content-wrapper">
    <div class="profile-picture-wrapper">
      <img
        src="{{ employee.profileImage || 'assets/img/default-profile.png' }}"
        class="profile-image"
        alt="profile image"
        (load)="isProfileLoading = false"
        (error)="employee.profileImage = 'assets/img/default-profile.png'"
      />
      <div class="profile-spinner-wrapper" *ngIf="isProfileLoading">
        <mat-spinner color="primary"></mat-spinner>
      </div>
    </div>
    <div class="header-name-and-buttons-wrapper">
      <div class="header-name-wrapper">
        <h1 class="full-name">
          {{ employee.lastName }} {{ employee.firstName }}
        </h1>
        <div class="username">{{ employee.username }}</div>
      </div>
      <div class="header-btn-wrapper">
        <button mat-raised-button color="accent" type="button">Edit</button>
        <button mat-raised-button color="warn" type="button">Delete</button>
      </div>
    </div>
  </div>
</div>
