.main-wrapper {
    width: min-content;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.main-wrapper:hover > button {
    color: var(--primary);
}

.info-wrapper {
    display: flex;
    flex-direction: column;
}

.name {
    white-space: nowrap;
    font-size: 16px;
}

.date {
    white-space: nowrap;
    font-size: 10px;
    color: var(--primary);
}



