<mat-card class="card-wrapper">
    <img class="img" src="assets/img/restaurants/rupa.jpg" alt="restaurant profile" mat-card-image>
    <mat-card-header>
        <div class="header-wrapper">
            <span>Rupa</span>
            <mat-icon matTooltip="restaurant is open" svgIcon="open" style="color: green;"></mat-icon>
            <!-- <mat-icon matTooltip="restaurant is closed" svgIcon="close" style="color: red;"></mat-icon> -->
        </div>
    </mat-card-header>
    <mat-card-content class="content-wrapper">
        <span>Doboj,</span>
        <span>Braca Jugovic 86</span>
    </mat-card-content>
    <mat-card-actions class="btn-wrapper">
        <button mat-raised-button color="primary">See More</button>
    </mat-card-actions>
    <mat-card-footer class="footer-wrapper">
        <mat-icon svgIcon="earth" class="globe-svg"></mat-icon>
        <span>Bosnia and Herzegovina</span>
    </mat-card-footer>
</mat-card>