.drawer-wrapper {
    height: 100%;
}

.sidenav {
    width: 15%;
}

.top-nav-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
}

/* visina od top-nav je 60px */
.body-wrapper {
    margin-top: 60px;
    height: calc(100vh - 60px); 
    overflow: scroll;
    position: relative;
}

.spinner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

@media (max-width: 960px) {
    .sidenav {
        width: 80%;
    }
}