<div class="main-wrapper">
    <div class="back-btn-wrapper center">
        <button type="button" mat-icon-button (click)="onBack()">
            <mat-icon>arrow_back</mat-icon>
        </button>
    </div>

    <div class="row" matRipple routerLink="/restaurants">
        <mat-icon inline>restaurant</mat-icon>
        <div class="text">Restaurants</div>
    </div>


    <div class="row" matRipple routerLink="/orders">
        <mat-icon inline>list_alt</mat-icon>
        <div class="text">Orders</div>
    </div>

</div>