<mat-card class="card-wrapper">
    <mat-card-header>
        <div class="header-wrapper">
            <h2>neko ime za menu</h2>
        </div>
    </mat-card-header>
    <mat-card-content>
        <div class="content-wrapper">
            <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Repellendus sunt error libero, nam atque sint
                cupiditate dolorum distinctio eius officiis aperiam quae porro corporis architecto, perferendis nostrum
                similique dolores sit.
            </p>
        </div>
    </mat-card-content>
    <mat-card-actions>
        <div class="btn-wrapper">
            <button type="button" mat-raised-button color="accent">
                View More
            </button>
        </div>
    </mat-card-actions>

    <mat-divider></mat-divider>
    <mat-card-footer>
        <div class="footer-wrapper">
            <div class="number-of-items">
                <div>58</div>
                <mat-icon svgIcon="restaurant"></mat-icon>
            </div>
            <div class="restaurant-name">
                name of restaurant
            </div>
        </div>
    </mat-card-footer>
</mat-card>