.main-wrapper {
    padding: 1rem;
    width: 500px;
}

.current-participants-wrapper {
    margin-top: 1rem;
}

.divider-wrapper {
    margin: 1rem 0;
}

.participants-wrapper {
    max-height: 30vh;
    overflow-x: hidden;
    overflow-y: auto;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 1rem;
}

@media (max-width: 960px) {
    .main-wrapper {
        width: auto;
    }
}