<div
  class="main-wrapper"
  (click)="isOpen = !isOpen"
  matRipple
  [matRippleColor]="'var(--primary-light)'"
>
  <ng-content></ng-content>
  <span>{{ name | translate | titlecase }}</span>
  <mat-icon inline class="svg" *ngIf="!isOpen">expand_more</mat-icon>
  <mat-icon inline class="svg" *ngIf="isOpen">expand_less</mat-icon>
</div>
<div
  class="list-wrapper"
  [ngStyle]="{
    height: isOpen ? totalDropdownHeight :  0,
    transition: 'height 0.5s ease-in-out'
  }"
>
  <ng-container *ngFor="let item of itemListObj">
    <div
      class="list-item-wrapper"
      routerLink="{{ item.url }}"
      routerLinkActive="active"
      [routerLinkActiveOptions]="{exact: true}"
    >
      {{ item.name | translate }}
    </div>
  </ng-container>
</div>
