<div class="main-wrapper">
  <div class="side-nav-wrapper">
    <div class="search-wrapper">
      <app-search-bar></app-search-bar>
    </div>
    <div class="divider-wrapper">
      <mat-divider></mat-divider>
    </div>
    <div class="chats-wrapper">
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
      <app-side-nav-chat></app-side-nav-chat>
    </div>
  </div>
  <div class="content-wrapper">
    
  </div>
</div>
