<div class="main-wrapper">
  <form class="form-wrapper">
    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter table name" />
    </mat-form-field>

    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Select Restaurant</mat-label>
      <mat-select multiple="true">
        <mat-option *ngFor="let food of [1, 2,3 ,4]" [value]="food">
          {{ food }}
        </mat-option>
      </mat-select>
    </mat-form-field>
    
    <div class="btn-wrapper">
        <button type="button" color="primary" mat-icon-button>
            <mat-icon>add_circle</mat-icon>
        </button>
        <button type="button" color="primary" mat-raised-button>
            <mat-icon>save</mat-icon> Save
        </button>
    </div>
  </form>
  <div class="tables-wrapper">
    <app-table-card></app-table-card>
    <app-table-card></app-table-card>
    <app-table-card></app-table-card>
    <app-table-card></app-table-card>
    <app-table-card></app-table-card>
    <app-table-card></app-table-card>
    <app-table-card></app-table-card>
    <app-table-card></app-table-card>
    <app-table-card></app-table-card>
    <app-table-card></app-table-card>
  </div>
</div>
