.main-wrapper {
    display: flex;
    flex-direction: row;
}

.form-wrapper {
    flex: 50%;
    padding: 1rem;
}

.tables-wrapper {
    flex: 50%;
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    padding: 1rem;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 960px) {
    .main-wrapper {
        flex-direction: column;
        gap: 0;
    }

    .form-wrapper,
    .tables-wrapper {
        flex: 100%;
        padding: 0;
    }

    .tables-wrapper {
        justify-content: center;
        margin-top: 1rem;
    }
}