<div class="main-wrapper">
  <form class="form-wrapper" [formGroup]="tableForm">
    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Enter table name" formControlName="name" #inputName />
    </mat-form-field>

    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Select Restaurant</mat-label>
      <mat-select formControlName="restaurant">
        <mat-option
          *ngFor="let restaurant of restaurants"
          [value]="restaurant.id"
        >
          {{ restaurant.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <div class="btn-wrapper">
      <button
        type="button"
        color="primary"
        mat-icon-button
        (click)="onAddTable()"
      >
        <mat-icon>add_circle</mat-icon>
      </button>
      <button
        type="button"
        color="primary"
        mat-raised-button
        (click)="onSubmit()"
      >
        <mat-icon>save</mat-icon> Save
      </button>
    </div>
  </form>
  <div class="tables-wrapper">
    <ng-container *ngFor="let table of tables; let index = index">
      <app-table-card
        [table]="table"
        (remove)="onRemoveTable(index)"
      ></app-table-card>
    </ng-container>
  </div>
</div>
