.orders-wrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.button-toggle {
    color: var(--primary);
}

.filter-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-bottom: 1rem;
}

.paginator-wrapper {
    margin-top: 1rem;
}

.paginator {
    color: var(--primary);
    display: flex;
    align-items: center;
    justify-content: center;
}

@media (max-width: 960px) {
    .filter-wrapper {
        flex-direction: column;
    }

}