.card-wrapper {
    display: flex;
    flex-direction: column;
    max-width: 25rem;
    width: 100%;
    gap: 1rem;
    border: 1px solid var(--primary);
    padding: 0.5rem;
    height: 30rem;
    justify-content: space-around;
}

.image-wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(131, 131, 131);
    height: 8rem;
    position: relative;
    overflow: hidden;
}

.spinner-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image {
    width: 100%;
    height: auto;
}

.card-title {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--primary);
}