@if (order()?.menuItems!.length > 0) {
<div class="main-wrapper">
  <div class="two-box-wrapper">
    <div class="box">
      <div>{{ "total items" | translate | titlecase }}</div>
      <div class="box-num">
        {{ order()?.totalMenuItems }}
      </div>
    </div>
    <div class="box">
      <div>{{ "price" | translate | titlecase }}</div>
      <div class="box-num">{{ order()?.totalPrice | number : "1.2-2" }}</div>
    </div>
  </div>

  <form class="form-wrapper">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ "select table" | translate | titlecase }}</mat-label>
      <mat-select
        [(ngModel)]="tableId"
        name="table"
        (ngModelChange)="onChangeTable()"
      >
        @for (table of tables(); track table) {
        <mat-option [value]="table.id">{{ table.name }}</mat-option>
        }
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{
        "note for waiter (optional)" | translate | titlecase
      }}</mat-label>

      <input
        matInput
        (input)="onAddingNote($event)"
        placeholder="Ex. kafa sa mlijekom"
      />
    </mat-form-field>
  </form>

  <div class="menu-item-wrapper">
    @for (menuItem of order()?.menuItems; track $index) {
    <app-menu-item-card
      [menuItem]="menuItem"
      [canRemove]="true"
      (onRemoveEmitter)="onRemoveMenuItem($event)"
    ></app-menu-item-card>
    }
  </div>
</div>

<button
  (mousedown)="mouseDown($event)"
  cdkDrag
  type="button"
  mat-raised-button
  class="order-btn"
  color="primary"
  [disabled]="!restaurantId || tableId === -1"
  (click)="onOrder($event)"
>
  <mat-icon matIconPrefix>send</mat-icon>
  {{ "make order" | translate | titlecase }}
</button>
} @else {
<div class="no-item-wrapper">
  <h1>{{ "You didn't select any menu item." | translate }}</h1>
</div>
}
