.main-wrapper {
  padding-top: 0.5rem;
  padding-bottom: 1rem;
}

.two-box-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 0.5rem;
}

.box {
  display: flex;
  flex-direction: column;
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 0.5rem;
  align-items: center;
  justify-content: space-between;
  width: 6rem;
  height: 6rem;
}

.box-num {
  font-size: 1.5rem;
}

.form-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.menu-item-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.no-item-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.order-btn {
  position: fixed;
  bottom: 1rem;
  right: 1rem;
}
