<div class="header-wrapper">
  <mat-form-field appearance="outline" class="mobile-full-width">
    <mat-label>{{ 'select restaurant' | translate | titlecase }}</mat-label>
    <mat-select (valueChange)="onChangeRestaurant($event)">
      <mat-option
        *ngFor="let restaurant of restaurants"
        [value]="restaurant.id"
      >
        {{ restaurant.name | translate | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <button
    mat-raised-button
    color="accent"
    class="mobile-full-width"
    (click)="onGetQrCodes()"
    [disabled]="selectedRestaurant === -1"
  >
    {{ "get restaurant QR codes" | translate }}
  </button>
</div>

<div class="tables-wrapper">
  <ng-container *ngFor="let table of tables">
    <app-table-card
      [table]="table"
      (remove)="onRemoveTable($event)"
    ></app-table-card>
  </ng-container>
</div>

<div class="paginator-wrapper">
  <mat-paginator
    [length]="totalItems"
    [pageSize]="tablesQueryParams.pageSize"
    [pageIndex]="tablesQueryParams.pageIndex"
    class="paginator"
    [pageSizeOptions]="[10, 25, 50]"
    [showFirstLastButtons]="true"
    (page)="onPaginator($event)"
    aria-label="Select page"
  >
  </mat-paginator>
</div>
