.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
}

.info-wrapper {
    display: flex;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    width: 100%;
}

.little-table {
    background-color: darkgray;
    border: 1px solid var(--primary);
    border-radius: 5px;
    color: black;
    flex: 50%;
    height: 5rem;
}

.little-table-content {
    font-size: 1rem;
}

.btn-wrapper {
    padding: 0 3rem;

}