.form-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.info-wrapper {
    flex: 50%;
    padding: 1rem;
}

.description-wrapper {
    flex: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-wrapper {
    width: 100%;
}

.two-col {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

@media (max-width: 960px) {
    .info-wrapper,
    .description-wrapper {
        flex: 100%;
        padding: 0;
    }

    .description-wrapper {
        margin-top: 2rem;
    }

    .two-col {
        flex-direction: column;
        gap: 0;
    }

    .btn-wrapper {
        flex-direction: column;
        margin-top: 2rem;
        gap: 1rem;
    }

    .btn-wrapper > button {
        width: 100%;
    }
}