<div class="main-wrapper">
    <mat-toolbar class="toolbar-wrapper">
        <button type="button" mat-icon-button>
            <mat-icon svgIcon="arrow-left"></mat-icon>
        </button>
        <mat-chip>Main</mat-chip>
        <div class="btn-wrapper">
            <button type="button" color="accent" mat-raised-button>
                <mat-icon svgIcon="folder"></mat-icon>
                New Folder
            </button>

            <button type="button" color="accent" mat-raised-button>
                <mat-icon svgIcon="file"></mat-icon>
                New File
            </button>
        </div>

        <div class="toggle-btns" [matMenuTriggerFor]="menu">
            <button mat-icon-button>
                <mat-icon svgIcon="bars"></mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button mat-menu-item type="button">
                    New Folder
                    <mat-icon svgIcon="folder"></mat-icon>
                </button>
                <button mat-menu-item type="button">
                    New File
                    <mat-icon svgIcon="file"></mat-icon>
                </button>
            </mat-menu>
        </div>
    </mat-toolbar>
    <div class="content-wrapper">
        <app-folder-item></app-folder-item>
        <app-folder-item></app-folder-item>
        <app-folder-item></app-folder-item>
        <app-file-item></app-file-item>
        <app-file-item></app-file-item>
        <app-file-item></app-file-item>
        <app-file-item></app-file-item>
        <app-file-item></app-file-item>

    </div>
</div>