.card {
    width: 25rem;
}

.content-wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}

.username {
    font-size: 1.5rem;
    color: var(--primary);
}

.full-name {
    justify-content: flex-end;
    display: flex;
}
