<mat-card class="main-wrapper" *ngIf="employee">
  <div class="restaurant-image-wrapper">
    <img src="{{ employee.restaurant.profileImage || 'assets/img/default.png'}}" alt="restaurant image" class="img" />
  </div>
  <mat-card-header>
    <div class="header-wrapper">
      <div class="profile-image-wrapper">
        <img
          src="{{ employee.profileImage || 'assets/img/default-profile.png' }}"
          alt="profile image"
          class="img profile-img"
        />
      </div>
      <h2>{{ employee.lastName }} {{ employee.firstName }}</h2>
      <div class="username">{{ employee.username }}</div>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div class="description-wrapper">
      <p>
        {{
          ("Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam, neque consequuntur? Ab facere distinctio libero suscipit optio dolore fugit consequuntur sed, ipsam, iure officia exercitationem"
            | slice : 0 : 200) + "..."
        }}
      </p>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <div class="btn-wrapper">
      <button mat-raised-button type="button" color="accent">More Info</button>
      <button mat-raised-button type="button" color="primary">
        ime nekog restorana
      </button>
    </div>
  </mat-card-actions>
</mat-card>
