<div
  *ngIf="image"
  (click)="onFullScreen()"
  class="image-wrapper"
  [ngStyle]="{
    border: isMain ? '1px solid var(--primary)' : '1px solid var(--accent)'
  }"
>
  <mat-chip class="is-profile-chip" *ngIf="isMain">Profile picture</mat-chip>
  <button mat-icon-button color="warn" type="button" (click)="onDelete($event)">
    <mat-icon>delete</mat-icon>
  </button>
  <div class="spinner-wrapper" *ngIf="isLoading">
    <mat-spinner
      color="{{ isMain ? 'primary' : 'accent' }}"
    ></mat-spinner>
  </div>
  <img
    src="{{image.url || 'http://localhost:5000/default/default.png'}}"
    class="img"
    alt="picture"
    (load)="isLoading = false"
  />
  <mat-chip class="size-chip">{{ image.size | fileSize }}</mat-chip>
</div>
