<form class="form-wrapper" [formGroup]="employeeForm" (ngSubmit)="onSubmit()">
  <div class="main-info">
    <div class="two-col">
      <mat-form-field appearance="outline" class="input-wrapper">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="Enter employee first name"
          formControlName="firstName"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-wrapper">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Enter employee last name"
          formControlName="lastName"
        />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="input-wrapper">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Enter employee email"
        formControlName="email"
      />
    </mat-form-field>

    <div class="two-col">
      <mat-form-field appearance="outline" class="input-wrapper">
        <mat-label>Username</mat-label>
        <input
          matInput
          placeholder="Enter employee username"
          formControlName="username"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-wrapper">
        <mat-label>Enter your password</mat-label>
        <input
          matInput
          [type]="hidePassword ? 'password' : 'text'"
          formControlName="password"
        />
        <button
          type="button"
          mat-icon-button
          matSuffix
          (click)="hidePassword = !hidePassword"
          [attr.aria-label]="'Hide password'"
          [attr.aria-pressed]="hidePassword"
        >
          <mat-icon>{{
            hidePassword ? "visibility_off" : "visibility"
          }}</mat-icon>
        </button>
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="input-wrapper">
      <mat-label>Phone</mat-label>
      <input
        matInput
        placeholder="Enter employee phone number"
        formControlName="phoneNumber"
      />
    </mat-form-field>

    <div class="two-col">
      <mat-form-field appearance="outline" class="input-wrapper">
        <mat-label>City</mat-label>
        <input
          matInput
          placeholder="Enter employee city"
          formControlName="city"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-wrapper">
        <mat-label>Address</mat-label>
        <input
          matInput
          placeholder="Enter employee address"
          formControlName="address"
        />
      </mat-form-field>
    </div>

    <div class="two-col">
      <mat-form-field appearance="outline" class="input-wrapper">
        <mat-label>Restaurant</mat-label>
        <mat-select formControlName="restaurantId">
          <mat-option
            *ngFor="let restaurant of restaurantSelect"
            [value]="restaurant.id"
          >
            {{ restaurant.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-form-field appearance="outline" class="input-wrapper">
        <mat-label>Employee birth</mat-label>
        <input
          matInput
          [matDatepicker]="dp3"
          formControlName="birth"
          placeholder="12/12/2023"
        />
        <mat-hint>MM/DD/YYYY</mat-hint>
        <mat-datepicker-toggle
          matIconSuffix
          [for]="dp3"
        ></mat-datepicker-toggle>
        <mat-datepicker #dp3 disabled="false"></mat-datepicker>
      </mat-form-field>
    </div>
  </div>
  <div class="other-info">
    <mat-form-field appearance="outline" class="input-wrapper">
      <mat-label>Description</mat-label>
      <textarea
        rows="10"
        matInput
        placeholder="Enter description"
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <div class="checkbox-wrapper">
      <mat-checkbox color="primary" formControlName="canEditMenus"
        >Can edit menus</mat-checkbox
      >
      <mat-checkbox color="primary" formControlName="canViewFolders"
        >Can view his folders</mat-checkbox
      >
      <mat-checkbox color="primary" formControlName="canEditFolders"
        >Can Edit his folders</mat-checkbox
      >
    </div>

    <div class="btn-wrapper">
 
      <button
        mat-raised-button
        color="primary"
        [disabled]="employeeForm.invalid"
      >
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
  </div>
</form>
