.form-wrapper {
    display: flex;
    flex-wrap: wrap;
}

.main-info {
    flex: 50%;
    padding: 1rem;
}

.other-info {
    flex: 50%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.input-wrapper {
    width: 100%;
}

.two-col {
    display: flex;
    flex-direction: row;
    gap: 0.5rem;
}

.checkbox-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 1rem 0;
}

.save-btn-wrapper {
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: space-around
}

@media (max-width: 960px) {
    .main-info,
    .other-info {
        flex: 100%;
        padding: 0;
    }

    .two-col {
        flex-direction: column;
        gap: 0;
    }

    .save-btn-wrapper {
        margin-top: 1rem;
        flex-direction: column;
        gap: 1rem;
    }

    .save-btn-wrapper button {
        width: 100%;
    }

    .image-wrapper {
        margin-top: 1rem;
    }
}

