<div class="main-wrapper">
    <div class="image-wrapper">
        <img src="assets/img/profile.jpg" alt="profile image" class="image">
        <div class="online" matTooltip="online"></div>
    </div>
    <div class="message-wrapper">
        <div class="message">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci ratione accusamus culpa, enim soluta at
            maxime dict...
        </div>
        <div class="message-footer">
            <div class="username">zuna21_22</div>
            <div class="time">2 days ago</div>
        </div>
    </div>
</div>