<div class="main-wrapper">
  <div class="header max-width">
    <h1>Reason to decline</h1>
    <button mat-icon-button (click)="onClose()">
      <mat-icon>cancel</mat-icon>
    </button>
  </div>
  <form [formGroup]="declineForm" (ngSubmit)="onDecline()">
    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Textarea</mat-label>
      <textarea matInput formControlName="reason"></textarea>
    </mat-form-field>

    <button
      mat-raised-button
      color="warn"
      class="max-width"
      [disabled]="declineForm.invalid"
    >
      Decline
    </button>
  </form>
</div>
