<div class="main-wrapper" *ngIf="employee">
  <div class="description-wrapper">
    <div class="description">
      <h2 class="about-me">About me</h2>
      <p>
        {{ employee.description }}
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="permission-wrapper">
      <div class="permission-row">
        <div>Can Edit Menus</div>
        <mat-icon *ngIf="employee.canEditMenus" class="correct">check_circle</mat-icon>
        <mat-icon class="false" *ngIf="!employee.canEditMenus">cancel</mat-icon>
      </div>

      <div class="permission-row">
        <div>Can View Folders</div>
        <mat-icon *ngIf="employee.canViewFolders" class="correct">check_circle</mat-icon>
        <mat-icon class="false" *ngIf="!employee.canViewFolders">cancel</mat-icon>
      </div>

      <div class="permission-row">
        <div>Can Edit Folders</div>
        <mat-icon *ngIf="employee.canEditFolders" class="correct">check_circle</mat-icon>
        <mat-icon class="false" *ngIf="!employee.canEditFolders">cancel</mat-icon>
      </div>
    </div>
  </div>
  <div class="info-wrapper">
    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Username</div>
      <div>{{ employee.profileHeader.username }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Full Name</div>
      <div>{{ employee.profileHeader.firstName }} {{ employee.profileHeader.lastName }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Restaurant</div>
      <div>{{ employee.restaurant }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Email</div>
      <div>{{ employee.email }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Phone</div>
      <div>{{ employee.phoneNumber }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Birth</div>
      <div>{{ employee.birth | date }}</div>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
