
<button (click)="onDownload()">Download</button>
<div class="qr-wrapper" id="qr-wrapper" style="max-width: 210px; max-height: 297px;">
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>
    <qrcode [qrdata]="'https://noshnexus.com'" [width]="50" [imageHeight]="10" [imageWidth]="10" [errorCorrectionLevel]="'M'" imageSrc="assets/img/logo-160x160.png"></qrcode>

</div>
