.main-wrapper {
  width: 100%;
  padding: 0.5rem;
  display: flex;
  flex-direction: row;
  position: relative;
  border-radius: 5px;
  gap: 0.5rem;
}

.main-main-wrapper {
  flex-direction: row-reverse;
  background-color: #424242;
}

.first-col {
  flex: 20%;
}

.second-col {
  flex: 80%;
}

.image-wrapper {
  height: 3rem;
  width: 3rem;
  border-radius: 50%;
  position: relative;
}

.img {
  height: 100%;
  width: 100%;
  border-radius: 50%;
}

.online {
  position: absolute;
  height: 10px;
  width: 10px;
  background-color: lightgreen;
  border-radius: 50%;
  bottom: 4px;
  right: 1px;
}

.spinner-wrapper {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.message {
  font-size: 12px;
  line-height: 13px;
  display: flex;
}

.message-footer {
  display: flex;
  color: var(--primary);
  margin-top: 0.5rem;
  font-size: 10px;
  flex-direction: column;
  line-height: 1.2;
}

.time {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.message-wrapper {
  white-space: normal;
}

.is-mine-message {
  justify-content: flex-end;
}
