.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 1px solid var(--primary);
    padding: 1rem;
    border-radius: 5px;
}

.main-wrapper > h1 {
    color: var(--primary);
}

.main-wrapper > p {
    color: white;
}