.main-wrapper {
    font-size: 14px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    user-select: none;
}

.main-wrapper:hover {
    color: var(--primary);
    border-right: 2px solid var(--primary);
}

.active {
    color: var(--primary);
    border-right: 2px solid var(--primary);
}