.main-wrapper {
    padding: 0.5rem 0;
}

.special-offer {
    border: 1px solid var(--primary);
}

.panel-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.img-wrapper {
    position: relative;
}

.gallery-wrapper {
    height: 6rem;
}

.image {
    height: 2rem;
    width: auto;
    border: 1px solid var(--primary);
    border-radius: 5px;
}

.price-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 10px;
}