<mat-expansion-panel hideToggle [ngClass]="{
  'main-wrapper': true,
  'special-offer': menuItem.hasSpecialOffer
}" 
*ngIf="menuItem"
>
  <mat-expansion-panel-header>
    <mat-panel-title class="title"> {{ menuItem.name }} </mat-panel-title>
    <mat-panel-description class="panel-description">
      <div class="price-wrapper">
        <del *ngIf="menuItem.hasSpecialOffer">${{ menuItem.specialOfferPrice }}</del>
        <div>{{ menuItem.hasSpecialOffer ? menuItem.specialOfferPrice : menuItem.price }}</div>
      </div>
      <div class="image-wrapper center" (click)="onImage($event)">
        <div class="jesus center" *ngIf="isImageLoading">
          <mat-spinner></mat-spinner>
        </div>
        <img class="image"
        src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Fimages6.alphacoders.com%2F304%2F304628.jpg&f=1&nofb=1&ipt=dc82afe3f9494fe76d4a2cb9245a82d4ed5a75686684045a0dae85dd45b86421&ipo=images"
        alt="profile image" (load)="isImageLoading = false" />
      </div>
    </mat-panel-description>
  </mat-expansion-panel-header>
  <p>
    {{ menuItem.description }}
  </p>

  <mat-action-row *ngIf="hasBtns">
    <button mat-stroked-button color="primary"><mat-icon>restaurant_menu</mat-icon>{{ menuItem.menu.name }}</button>
    <button mat-raised-button color="accent" (click)="onAddToOrder()"><mat-icon>add_circle</mat-icon> Add To Order</button>
  </mat-action-row>
  <mat-action-row *ngIf="hasDeleteBtn">
    <button type="button" (click)="onDelete()" mat-stroked-button style="background-color: var(--warning);"><mat-icon>delete</mat-icon>Delete</button>
  </mat-action-row>
</mat-expansion-panel>