.main-wrapper {
    padding: 0.5rem 0;
}

.special-offer {
    border: 1px solid var(--primary);
}

.panel-description {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.image-wrapper {
    height: 3rem;
    width: 4rem;
    background-color: black;
    border: 1px solid var(--primary);
    border-radius: 5px;
    position: relative;
    overflow: hidden;
}


.image {
    height: 100%;
    width: auto;
}

.price-wrapper {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.title {
    font-size: 10px;
}