<div class="main-wrapper">
  <div class="user-table-info">
    <div class="user-wrapper">
      <div class="image-wrapper">
        <img
          src="assets/img/users/user1.jpg"
          alt="profile image"
          class="image"
        />
      </div>
      <div class="username-info">
        <div class="username">zuna21</div>
        <div class="full-name">Zunic Adir</div>
      </div>
    </div>
    <div class="user-table-divider">
      <mat-divider></mat-divider>
    </div>
    <div class="table-wrapper">
      <mat-icon>table_bar</mat-icon>
      <div class="table-name">Ime stola</div>
    </div>
  </div>
  <div class="description">
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam
      obcaecati corporis, eligendi nam reprehenderit ab est quo soluta aut velit
      voluptatem sit consequuntur distinctio voluptatibus veniam iusto nihil
      accusantium quos!
  </div>
  <div class="details">
    <div class="details-item">Total Price: <span>$25</span></div>
    <div class="details-item">Total Items: <span>3</span></div>
    <div class="details-item">Ordered: <span>2 minutes ago</span></div>
    <button type="button" mat-raised-button color="accent">View order</button>
  </div>
  <div class="btn-wrapper">
    <button type="button" mat-raised-button style="background-color: var(--success);">
        <mat-icon>check</mat-icon>
        Accept
    </button>
    <button type="button" mat-raised-button style="background-color: var(--warning);">
        <mat-icon>error</mat-icon>
        Decline
    </button>
    <button type="button" mat-raised-button style="background-color: #bcb332;">
        <mat-icon>block</mat-icon>
        Block
    </button>
  </div>
</div>
