.main-wrapper {
  width: 20rem;
  padding-bottom: 2rem;
  border: 1px solid var(--primary);
}

.restaurant-image-wrapper {
  background-color: black;
  height: 12rem;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
}

.restaurant-spinner-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile-spinner-wrapper {
  position: absolute;
  bottom: 5px;
  right: 5px;
}

.profile-image-wrapper {
  width: 7rem;
  height: 7rem;
  border: 1px solid var(--primary);
  border-radius: 50%;
  position: absolute;
  background-color: black;
  left: 0;
  top: -65px;
  overflow: hidden;
}

.profile-img {
  height: 100%;
}

.header-wrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  position: relative;
}

.header-wrapper > h2 {
  margin: 0;
}

.username {
  font-size: 14px;
  color: var(--primary);
}

.description-wrapper {
  margin: 1rem 0;
}

.btn-wrapper {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 1rem;
  padding: 0 1rem;
}