<div class="main-wrapper">
    <div class="header-wrapper">
        <h1>Nosh Nexus</h1>
    </div>
    <div class="side-nav-row-wrapper">
        <div class="side-nav-row" routerLink="/home" matRipple>
            <mat-icon inline="true">storefront</mat-icon>
            <div class="row-name">Restaurants</div>
        </div>
        <div class="side-nav-row" matRipple (click)="onViewOrderHistory()">
            <mat-icon inline="true">history</mat-icon>
            <div class="row-name">Order History</div>
        </div>
        <div class="side-nav-row" matRipple (click)="onLogout()">
            <mat-icon inline="true">logout</mat-icon>
            <div class="row-name">Log Out</div>
        </div>
    </div>
</div>