<div class="main-wrapper">
    <div class="header-wrapper">
        <h1>Nosh Nexus</h1>
    </div>
    <div class="side-nav-row-wrapper">
        <div class="side-nav-row" (click)="onAccount()" matRipple>
            <mat-icon inline="true">person</mat-icon>
            <div class="row-name">{{ 'account' | translate | titlecase }}</div>
        </div>
        <div class="side-nav-row" (click)="onRestaurants()" matRipple>
            <mat-icon inline="true">storefront</mat-icon>
            <div class="row-name">{{ 'restaurants' | translate | titlecase }}</div>
        </div>
        <div class="side-nav-row" matRipple (click)="onViewOrderHistory()">
            <mat-icon inline="true">history</mat-icon>
            <div class="row-name">{{ 'order history' | translate | titlecase }}</div>
        </div>

        <div class="side-nav-row" matRipple (click)="onSelectLanguage()">
            <mat-icon inline="true">language</mat-icon>
            <div class="row-name">{{ 'language' | translate | titlecase }}</div>
        </div>

        <div class="side-nav-row" matRipple (click)="onLogout()">
            <mat-icon inline="true">logout</mat-icon>
            <div class="row-name">{{ 'log out' | translate | titlecase }}</div>
        </div>
    </div>
</div>