.main-wrapper {
    font-size: 14px;
    padding: 0.5rem 1rem;
    display: flex;
    align-items: center;
    gap: 2rem;
    cursor: pointer;
    user-select: none;
}

.main-wrapper:hover {
    color: var(--primary);
}

.svg {
    height: 14px;
}

.list-wrapper {
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    font-size: 14px;
    overflow: hidden;
}

.list-item-wrapper {
    width: 100%;
    padding: 0.5rem 0.5rem;  
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    height: 35px;
}

.list-item-wrapper:hover {
    color: var(--primary);
    border-left: 5px solid var(--primary);
}

.active {
    color: var(--primary);
    border-left: 5px solid var(--primary);
}
