.logo-wrapper {
    padding: 1rem 3rem;
}

.logo {
    max-width: 150px;
}

.svg {
    height: 14px;
}

@media only screen and (max-width: 768px) {

    /* velicina za tablet */
    .logo-wrapper {
        display: none;
    }
}
