<div class="main-wrapper center" *ngIf="menuForm">
    <form class="form-wrapper" [formGroup]="menuForm" (ngSubmit)="(menuForm)">
  
      <div class="two-col">

        <mat-form-field appearance="outline">
          <mat-label>Name</mat-label>
          <input matInput placeholder="Enter menu name" formControlName="name" />
        </mat-form-field>
        
        <div class="toggle-wrapper">
          <mat-slide-toggle color="primary" formControlName="isActive">Active</mat-slide-toggle>
        </div>
      </div>

  
      <mat-form-field appearance="outline">
        <mat-label>Description</mat-label>
        <textarea
          matInput
          placeholder="Enter menu description"
          formControlName="description"
        ></textarea>
      </mat-form-field>

  
      <div class="btn-wrapper">
        <button
          mat-raised-button
          color="primary"
          [disabled]="menuForm.invalid || !menuForm.dirty"
          (click)="onSubmit()"
        >
          <mat-icon>save</mat-icon>
          Save
        </button>
      </div>
    </form>
  </div>
  