.main-wrapper {
    height: 100%;
}

.form-wrapper {
    flex-direction: column;
    padding: 0.5rem;
}

.logo-wrapper {
    margin-bottom: 1rem;
}

.no-profile-wrapper {
    margin: 1rem 0;
    display: flex;
    justify-content: flex-end;
}

.no-profile-wrapper > a {
    color: var(--primary);
}