<div class="main-wrapper">
    <div class="header">
        <div class="name">Margarita</div>
        <div class="icons-wrapper">
            <button type="button" mat-icon-button>
                <mat-icon inline="true">add</mat-icon>
            </button>
        </div>
    </div>
    <div class="content">
        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Distinctio corrupti nihil, molestias numquam
        reiciendis iure commodi enim dignissimos cumque doloremque saepe praesentium magni voluptatem error dolorum
        nostrum ex laboriosam eum?
    </div>
    <div class="footer">
        <div class="img-wrapper">
            <img src="https://noshnexus.com/images/default/default.png" alt="menu item image">
        </div>
        <div class="prices">
            <div class="old-price">
                <del>30.00</del>
            </div>
            <div class="price">
                32
            </div>
        </div>
    </div>
</div>