<div class="main-wrapper">
  <div class="first-col center">
    <div class="image-wrapper">
      <img src="assets/img/users/user1.jpg" alt="profile image" class="img" />
      <div class="online"></div>
    </div>
  </div>
  <div class="second-col">
    <div class="chat-name center">Ime chata</div>
    <div class="message center">Ovdje moze stati 100 rijeci</div>
    <div class="footer">
      <div class="date">
        <mat-icon inline>schedule</mat-icon>
        <div>2 days ago</div>
      </div>
      <div class="username">zuna21</div>
    </div>
  </div>

  <div class="background"></div>
</div>
