<div class="main-wrapper">
  <h1 class="title">{{ 'login' | translate | titlecase }}</h1>
  <form class="form-wrapper" [formGroup]="loginForm">
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'username' | titlecase | titlecase }}</mat-label>
      <input matInput formControlName="username" />
    </mat-form-field>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>{{ 'password' | translate | titlecase }}</mat-label>
      <input matInput type="{{ isVisible ? 'text' : 'password' }}" formControlName="password" />
      <button
        type="button"
        color="primary"
        mat-icon-button
        matIconSuffix
        (click)="isVisible = !isVisible"
      >
        <mat-icon>{{ isVisible ? "visibility" : "visibility_off" }}</mat-icon>
      </button>
    </mat-form-field>

    <div class="btn-wrapper">
      <button
        mat-raised-button
        color="accent"
        class="full-width login-btn"
        type="button"
        (click)="onLogin()"
        [disabled]="loginForm.invalid"
      >
        {{ 'log in' | translate | titlecase }}
      </button>
      <button
        mat-raised-button
        color="primary"
        class="full-width"
        type="button"
        (click)="onQuicklyCreateAccount()"
      >
        {{ "Quickly create an account" | translate }}
      </button>
    </div>
  </form>
</div>
