<mat-toolbar>
  <div class="nav-wrapper">
    <ng-content></ng-content>
    <!-- pokazuje se samo kad je tablet ili mobitel -->
    <div class="logo-wrapper">
      <img src="assets/img/costic-logo-84x41.png" alt="logo">
    </div>
    <!-- ************************************************ -->
    <div class="search-wrapper">
      <app-search-bar></app-search-bar>
    </div>
    <div class="right-toggle">
      <app-right-toggle></app-right-toggle>
    </div>
    <div class="right-side">
      <button mat-icon-button>
        <mat-icon matBadge="5" aria-hidden="false">mail_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon matBadge="3" aria-hidden="false">notifications_none</mat-icon>
      </button>
      <div class="img-wrapper">
        <img src="assets/img/profile.jpg" alt="profile picture" class="img">
      </div>
    </div>
  </div>
</mat-toolbar>