<mat-toolbar>
  <div class="nav-wrapper">
    <ng-content></ng-content>
    <div class="logo-wrapper">
      <img src="assets/img/costic-logo-84x41.png" alt="logo">
    </div>
    <div class="input-wrapper">
      <input type="text" placeholder="search..." class="search-input">
      <mat-icon>search</mat-icon>
    </div>
    <button mat-icon-button class="right-toggle">
      <mat-icon>format_align_right</mat-icon>
    </button>
    <div class="right-side">
      <button mat-icon-button>
        <mat-icon matBadge="5">mail_outline</mat-icon>
      </button>
      <button mat-icon-button>
        <mat-icon matBadge="3">notifications_none</mat-icon>
      </button>
      <div class="img-wrapper">
        <img src="assets/img/profile.jpg" alt="profile picture" class="img">
      </div>
    </div>
  </div>
</mat-toolbar>