<form
  class="form-wrapper"
  *ngIf="accountForm && account"
  [formGroup]="accountForm"
  (ngSubmit)="onSubmit()"
>
  <div class="first-col">
    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Username</mat-label>
      <input
        matInput
        placeholder="Enter owner username"
        formControlName="username"
      />
    </mat-form-field>

    <div class="two-col">
      <mat-form-field appearance="outline" class="max-width">
        <mat-label>First Name</mat-label>
        <input
          matInput
          placeholder="Enter owner first name"
          formControlName="firstName"
        />
      </mat-form-field>

      <mat-form-field appearance="outline" class="max-width">
        <mat-label>Last Name</mat-label>
        <input
          matInput
          placeholder="Enter owner last name"
          formControlName="lastName"
        />
      </mat-form-field>
    </div>

    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Email</mat-label>
      <input
        matInput
        placeholder="Enter owner username"
        formControlName="email"
      />
    </mat-form-field>

    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Phone</mat-label>
      <input
        matInput
        placeholder="Enter owner phone number"
        formControlName="phoneNumber"
      />
    </mat-form-field>

    <div class="two-col">
      <mat-form-field appearance="outline" class="max-width">
        <mat-label>Choose a of birth</mat-label>
        <input
          matInput
          [matDatepicker]="picker"
          placeholder="MM/DD/YYYY"
          formControlName="birth"
        />
        <mat-datepicker-toggle
          matIconSuffix
          [for]="picker"
        ></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>

      <mat-form-field appearance="outline" class="max-width">
        <mat-label>Select Country</mat-label>
        <mat-select formControlName="countryId">
          <mat-option *ngFor="let country of account.allCountries" [value]="country.id">
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>

    <div class="two-col">
      <mat-form-field appearance="outline" class="max-width">
        <mat-label>City</mat-label>
        <input
          matInput
          placeholder="Enter owner username"
          formControlName="city"
        />
      </mat-form-field>
      <mat-form-field appearance="outline" class="max-width">
        <mat-label>Address</mat-label>
        <input
          matInput
          placeholder="Enter owner username"
          formControlName="address"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="second-col">
    <mat-form-field appearance="outline" class="max-width">
      <mat-label>Leave a description</mat-label>
      <textarea
        rows="10"
        matInput
        placeholder="Write something about your..."
        formControlName="description"
      ></textarea>
    </mat-form-field>

    <div class="btn-wrapper">
      <button
        type="button"
        mat-raised-button
        color="accent"
        (click)="profileBtn.click()"
      >
        <mat-icon>image</mat-icon>
        Profile Image
      </button>

      <input
        type="file"
        style="display: none"
        #profileBtn
        multiple="false"
        accept="image/*"
        (change)="onProfileImage($event)"
      />

      <button (click)="onSubmitProfileImage()" type="button" mat-raised-button color="primary" [disabled]="!profileImageForm.has('image')">
        <mat-icon>save</mat-icon>
        Save Profile Image
      </button>

      <button mat-raised-button color="primary" [disabled]="accountForm.invalid || !accountForm.dirty">
        <mat-icon>save</mat-icon>
        Save
      </button>
    </div>
  </div>
</form>

<div class="profile-image-wrapper">
  <app-image-with-delete
    [isMain]="true"
    [image]="profileImage"
    (deleteImage)="deleteProfileImage($event)"
  ></app-image-with-delete>
</div>
