<div
  *ngIf="message"
  [ngClass]="{
    'main-wrapper': true,
    'mat-app-background': true,
    'main-main-wrapper': message.isMine
  }"
>
  <div class="first-col center">
    <div class="image-wrapper">
      <div class="spinner-wrapper" *ngIf="isProfileImageLoading">
        <mat-spinner></mat-spinner>
      </div>
      <img
        src="{{
          message.sender.profileImage || 'assets/img/default-profile.png'
        }}"
        (load)="isProfileImageLoading = false"
        alt="profile image"
        class="img"
        matTooltip="{{ message.sender.username }}"
        (error)="message.sender.profileImage = 'assets/img/default-profile.png'"
      />
      <div
        class="online"
        [ngStyle]="{
          'background-color': message.sender.isActive
            ? 'lightgreen'
            : 'lightgray'
        }"
        matTooltip="{{ message.sender.isActive ? 'Active' : 'Inactive' }}"
      ></div>
    </div>
  </div>
  <div class="second-col">
    <div class="message-wrapper">
      <div class="message" [ngClass]="{ 'is-mine-message': message.isMine }">
        {{ message.content }}
      </div>
      <div
        [ngClass]="{
          'message-footer': true,
          'main-main-wrapper': message.isMine
        }"
      >
      <div class="username">{{ message.sender.username }}</div>
        <div class="time">
          <mat-icon inline>schedule</mat-icon>
          <div>{{ message.createdAt | timeAgo }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
