.image-wrapper {
    height: 30%;
    width: 100%;
    overflow: hidden;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.img {
    height: 100%;
    width: auto;
}

.jesus {
    background-color: rgb(0, 0, 0, 0.6);
}

.name {
    padding: 1rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
    background-color: black;
    color: var(--primary);
}

.name > h1 {
    margin: 0;
}

.table {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid var(--primary);
    border-radius: 5px;
    margin-top: 1rem;
}

.menu-item-title {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-style: italic;
    margin-top: 1rem;
}

.search-wrapper {
    width: 100%;
    padding: 0 1rem;
}

.menu-items-wrapper {
    margin-top: 1rem;
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}