<div class="filter-wrapper">
  <mat-form-field appearance="outline" class="remove-bottom-margin">
    <mat-label>{{ 'select restaurant' | translate | titlecase }}</mat-label>
    <mat-select [(ngModel)]="restaurant" (ngModelChange)="onChangeRestaurant()">
      <mat-option
        *ngFor="let restaurant of restaurants"
        [value]="restaurant.id"
      >
        {{ restaurant.name | translate | titlecase }}
      </mat-option>
    </mat-select>
  </mat-form-field>

  <mat-slide-toggle color="primary" [(ngModel)]="canManage"
    >{{ 'manage orders' | translate | titlecase }}</mat-slide-toggle
  >
</div>

<div class="orders-wrapper">
  <ng-container *ngFor="let order of orders">
    <app-order-card
      [order]="order"
      (decline)="onDecline($event)"
      (block)="onBlockUser($event)"
      (accept)="onAccept($event)"
      [hasBtns]="canManage"
    >
    </app-order-card>
  </ng-container>
</div>
