<div
  *ngIf="order"
  [ngClass]="{
    'main-wrapper': true,
    'accepted-border': order.status === 'Accepted',
    'declined-border': order.status === 'Declined',
    'blocked-border': order.status === 'Blocked'
  }"
>
  <div class="user-table-info">
    <div class="user-wrapper">
      <div class="image-wrapper">
        <img
          src="{{ order.user.profileImage || 'http://noshnexus.com/images/default/default-profile.png' }}"
          alt="profile image"
          class="image"
        />
      </div>
      <div class="username-info">
        <div class="username">{{ order.user.username.length > 15 ? (order.user.username | slice:0:15) + '...' : order.user.username }}</div>
        <div class="full-name">
          {{ order.user.lastName }} {{ order.user.firstName }}
        </div>
      </div>
    </div>
    <div class="user-table-divider">
      <mat-divider></mat-divider>
    </div>
    <div class="table-wrapper">
      <mat-icon>storefront</mat-icon>
      <div class="table-name">
        <a
          (click)="onRestaurant()"
          target="_blank"
          >{{ order.restaurant.name }}</a
        >
      </div>
    </div>

    <div class="table-wrapper">
      <mat-icon>table_bar</mat-icon>
      <div class="table-name">{{ order.tableName }}</div>
    </div>
  </div>
  <div class="description">
    {{ order.note }}
  </div>
  <div class="details">
    <mat-tab-group>
      <mat-tab label="Menu Items">
        <div class="tab-wrapper">
          <div class="menu-items-wrapper">
            <ng-container *ngFor="let menuItem of order.items">
              <div class="menu-item-row">
                <div>
                  <a
                    (click)="onMenuItem(menuItem.id)"
                    target="_blank"
                    >{{ menuItem.name }}</a
                  >
                </div>
                <div>$ {{ menuItem.price | number : '1.2-2' }}</div>
              </div>
              <mat-divider></mat-divider>
            </ng-container>
          </div>
        </div>
      </mat-tab>
      <mat-tab label="Info">
        <div class="tab-wrapper">
          <div class="details-item-wrapper">
            <div class="details-item">
              Total Price: <span>${{ order.totalPrice | number : '1.2-2' }}</span>
            </div>
            <div class="details-item">
              Total Items: <span>{{ order.totalItems }}</span>
            </div>
            <div class="details-item">
              Ordered: <span>{{ order.createdAt }}</span>
            </div>
          </div>
        </div>
      </mat-tab>
    </mat-tab-group>
  </div>
  <div class="btn-wrapper" *ngIf="order.status === 'InProgress' && hasBtns">
    <button
      (click)="onAccept()"
      type="button"
      mat-raised-button
      style="background-color: #66BB6A"
    >
      <mat-icon>check</mat-icon>
      Accept
    </button>
    <button
      (click)="onDecline()"
      type="button"
      mat-raised-button
      style="background-color: #EF5350"
    >
      <mat-icon>error</mat-icon>
      Decline
    </button>
    <button
      (click)="onBlock()"
      type="button"
      mat-raised-button
      style="background-color: #bcb332"
    >
      <mat-icon>block</mat-icon>
      Block
    </button>
  </div>

  <div class="status-wrapper center" *ngIf="order.status !== 'InProgress'">
    <h1
      [ngClass]="{
        accepted: order.status === 'Accepted',
        declined: order.status === 'Declined',
        blocked: order.status === 'Blocked'
      }"
    >
      {{ order.status }}
    </h1>
    <p *ngIf="order.status === 'Declined'">
      {{ order.declineReason }}
    </p>
  </div>
</div>
