<div class="main-wrapper">
  <form class="form-wrapper" [formGroup]="menuForm" (ngSubmit)="onSubmit()">
    <mat-form-field appearance="outline">
      <mat-label>{{ 'name' | translate | titlecase }}</mat-label>
      <input matInput formControlName="name" />
    </mat-form-field>

    <mat-form-field appearance="outline">
      <mat-label>{{ 'description' | translate | titlecase }}</mat-label>
      <textarea rows="5" matInput formControlName="description"></textarea>
    </mat-form-field>

    <div class="two-col">
      <mat-slide-toggle color="primary" formControlName="isActive"
        >{{ 'active' | translate | titlecase }}</mat-slide-toggle
      >
      <button
        type="submit"
        mat-raised-button
        color="primary"
        [disabled]="menuForm.invalid"
      >
        {{ 'create' | translate | titlecase }}
      </button>
    </div>
  </form>
</div>
