.main-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.menus-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5rem;
}

.search-bar-wrapper {
    width: 100%;
    padding: 0 1rem;
    margin-top: 2rem;
}