<div class="main-wrapper" *ngIf="employee">
  <div class="description-wrapper">
    <div class="description">
      <h2 class="about-me">About me</h2>
      <p>
        {{ employee.description }}
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="permission-wrapper">
      <div class="permission-row">
        <div>Can Edit Menus</div>
        <mat-icon
          svgIcon="correct-circle"
          class="correct"
          *ngIf="employee.canEditMenus"
        ></mat-icon>
        <mat-icon
          svgIcon="xmark"
          class="false"
          *ngIf="!employee.canEditMenus"
        ></mat-icon>
      </div>

      <div class="permission-row">
        <div>Can View Folders</div>
        <mat-icon
          svgIcon="correct-circle"
          class="correct"
          *ngIf="employee.canViewFolders"
        ></mat-icon>
        <mat-icon
          svgIcon="xmark"
          class="false"
          *ngIf="!employee.canViewFolders"
        ></mat-icon>
      </div>

      <div class="permission-row">
        <div>Can Edit Folders</div>
        <mat-icon
          svgIcon="correct-circle"
          class="correct"
          *ngIf="employee.canEditFolders"
        ></mat-icon>
        <mat-icon
          svgIcon="xmark"
          class="false"
          *ngIf="!employee.canEditFolders"
        ></mat-icon>
      </div>
    </div>
  </div>
  <div class="info-wrapper">
    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Username</div>
      <div>{{ employee.username }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Full Name</div>
      <div>{{ employee.firstName }} {{ employee.lastName }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Restaurant</div>
      <div>{{ employee.restaurant.name }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Email</div>
      <div>{{ employee.email }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Phone</div>
      <div>{{ employee.phone }}</div>
    </div>

    <mat-divider></mat-divider>

    <div class="info-row">
      <div>Birth</div>
      <div>{{ employee.birth | date }}</div>
    </div>

    <mat-divider></mat-divider>
  </div>
</div>
