<div class="main-wrapper">
  <div class="description-wrapper">
    <div class="description">
      <h2 class="about-me">About me</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Eum placeat
        architecto, eos fuga debitis sequi asperiores necessitatibus nulla,
        commodi aspernatur animi laboriosam quia consectetur eius harum!
        Quibusdam incidunt molestias consequuntur. Error tempora excepturi
        libero iusto alias nulla odit unde molestiae dignissimos, quod nihil non
        cum mollitia! Provident, fugit repellat fugiat temporibus esse omnis
        doloribus excepturi aliquid! Doloribus itaque qui facilis?
      </p>
    </div>
    <mat-divider></mat-divider>
    <div class="permission-wrapper">
        <div class="permission-row">
            <div>Can Edit Menus</div>
            <mat-icon svgIcon="correct-circle" class="correct"></mat-icon>
        </div>

        <div class="permission-row">
            <div>Can View Folders</div>
            <mat-icon svgIcon="xmark" class="false"></mat-icon>
        </div>

        <div class="permission-row">
            <div>Can Edit Folders</div>
            <mat-icon svgIcon="correct-circle" class="correct"></mat-icon>
        </div>
    </div>
  </div>
  <div class="info-wrapper">
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Deleniti cum
      debitis rerum, hic minima quo tenetur ut vel omnis? Vero iusto at eligendi
      corrupti atque, dolore ab perspiciatis quisquam aperiam?
    </p>
  </div>
</div>
