<ng-container *ngIf="account && editAccountForm">
  <form class="form-wrapper" [formGroup]="editAccountForm">
    <div class="left-side">
      <mat-form-field appearance="outline" class="max-width">
        <mat-label>{{ 'username' | translate | titlecase }}</mat-label>
        <input matInput formControlName="username" />
      </mat-form-field>

      <div class="two-col">
        <mat-form-field appearance="outline" class="max-width">
          <mat-label>{{ 'name' | translate | titlecase }}</mat-label>
          <input matInput formControlName="firstName" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="max-width">
          <mat-label>{{ 'last name' | translate | titlecase }}</mat-label>
          <input matInput formControlName="lastName" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="max-width">
        <mat-label>{{ 'select country' | translate | titlecase }}</mat-label>
        <mat-select formControlName="countryId">
          <mat-option
            *ngFor="let country of account.allCountries"
            [value]="country.id"
          >
            {{ country.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>

      <div class="two-col">
        <mat-form-field appearance="outline" class="max-width">
          <mat-label>{{ 'city' | translate | titlecase }}</mat-label>
          <input matInput formControlName="city" />
        </mat-form-field>
        <mat-form-field appearance="outline" class="max-width">
          <mat-label>{{ 'address' | translate | titlecase }}</mat-label>
          <input matInput formControlName="address" />
        </mat-form-field>
      </div>

      <mat-form-field appearance="outline" class="max-width">
        <mat-label>{{ 'email' | translate | titlecase }}</mat-label>
        <input matInput formControlName="email" />
      </mat-form-field>

      <mat-form-field appearance="outline" class="max-width">
        <mat-label>{{ 'phone' | translate | titlecase }}</mat-label>
        <input matInput formControlName="phoneNumber" />
      </mat-form-field>
    </div>

    <div class="right-side">
      <mat-form-field appearance="outline" class="max-width">
        <mat-label>{{ 'description' | translate | titlecase }}</mat-label>
        <textarea rows="12" matInput formControlName="description"></textarea>
      </mat-form-field>

      <div class="two-col">
        <button type="button" color="accent" mat-raised-button class="max-width" (click)="profileBtn.click()">
          <mat-icon>image</mat-icon>
          {{ 'upload profile image' | translate | titlecase }}
        </button>
        <button 
          type="button" 
          mat-raised-button 
          class="max-width"
          color="primary"
          (click)="onSubmitProfileImage()"
          [disabled]="!profileImageForm.has('image')"
        >
          <mat-icon>save</mat-icon>
          {{ 'submit image' | translate | titlecase }}
        </button>
      </div>

      <input
        type="file"
        style="display: none"
        #profileBtn
        multiple="false"
        accept="image/*"
        (change)="onProfileImage($event)"
      />

      <button
        (click)="onSubmit()"
        class="max-width save-btn"
        mat-raised-button
        color="primary"
        [disabled]="editAccountForm.invalid || !editAccountForm.dirty"
      >
        {{ 'save' | translate | titlecase }}
      </button>
    </div>
  </form>

  <div class="profile-image-wrapper">
    <app-image-with-delete
      [isMain]="true"
      [image]="profileImage"
      (deleteImage)="deleteProfileImage($event)"
    ></app-image-with-delete>
  </div>
</ng-container>
