<ng-container *ngIf="account">
  <div class="main-wrapper">
    <div class="info-wrapper">
      <div class="info-row">
        <div>{{ 'username' | translate | titlecase }}</div>
        <div>{{ account.username }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-row">
        <div>{{ 'name' | translate | titlecase }}</div>
        <div>{{ account.firstName }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-row">
        <div>{{ 'last name' | translate | titlecase }}</div>
        <div>{{ account.lastName }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-row">
        <div>{{ 'email' | translate | titlecase }}</div>
        <div>{{ account.email }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-row">
        <div>{{ 'country' | translate | titlecase }}</div>
        <div>{{ account.country }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-row">
        <div>{{ 'city' | translate | titlecase }}</div>
        <div>{{ account.city }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-row">
        <div>{{ 'address' | translate | titlecase }}</div>
        <div>{{ account.address }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-row">
        <div>{{ 'phone' | translate | titlecase }}</div>
        <div>{{ account.phoneNumber }}</div>
      </div>
      <mat-divider></mat-divider>
      <div class="info-row">
        <div>{{ 'birth' | translate | titlecase }}</div>
        <div>{{ account.birth | date }}</div>
      </div>
    </div>
    <div class="description-wrapper">
      <h1 class="description">{{ 'description' | translate | titlecase }}</h1>
      <p>
        {{ account.description }}
      </p>
      <div class="description-btn-wrapper">
        <div class="description-btn">
          <button type="button" mat-icon-button>
            <mat-icon>groups</mat-icon>
          </button>
          <div>{{ account.employeesNumber }}</div>
          <div>{{ 'employees' | translate | titlecase }}</div>
        </div>

        <div class="description-btn">
          <button type="button" mat-icon-button>
            <mat-icon>restaurant</mat-icon>
          </button>
          <div>{{ account.restaurantsNumber }}</div>
          <div>{{ 'restaurant' | translate | titlecase }}</div>
        </div>

        <div class="description-btn">
          <button type="button" mat-icon-button>
            <mat-icon>menu_book</mat-icon>
          </button>
          <div>{{ account.menusNumber }}</div>
          <div>{{ 'menus' | translate | titlecase }}</div>
        </div>

        <div class="description-btn">
          <button type="button" mat-icon-button>
            <mat-icon>local_cafe</mat-icon>
          </button>
          <div>{{ account.todayOrdersNumber }}</div>
          <div>{{ 'today orders' | translate | titlecase }}</div>
        </div>
      </div>
    </div>
  </div>
</ng-container>
