.header-wrapper {
    width: 100%;
    height: 25rem;
    background-image: url("/assets/img/restaurants/rupa.jpg");
}

.header-content-wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.profile-picture-wrapper {
    height: 10rem;
    width: 10rem;
    background-color: black;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 4px solid var(--accent);
    border-radius: 5px;
    position: absolute;
    left: 15rem;
    bottom: -4rem;
}

.profile-image {
    width: 100%;
    height: auto;
}

.header-name-and-buttons-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 5rem;
}

.full-name {
    margin: 0;
}

.header-btn-wrapper {
    display: flex;
    gap: 2rem;
}