.main-wrapper {
    font-size: 14px;
    padding: 0.5rem;
    cursor: pointer;
    line-height: 25px;
    position: relative;
    height: 5rem;
}

.background-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--primary);
    opacity: 0.2;
}

.description {
    font-size: 10px;
    white-space: initial;
    line-height: 10px;
}

.time {
    font-size: 10px;
    color: var(--primary);
    display: flex;
    align-items: center;
    gap: 0.5rem;
}
