<div class="main-wrapper" *ngIf="chatMenu" (click)="onChatMenu()">
  <div class="title">{{ chatMenu.title }}</div>
  <div class="message">
    {{
      chatMenu.lastMessage.content.length > 100
        ? (chatMenu.lastMessage.content | slice : 0 : 100) + "..."
        : chatMenu.lastMessage.content
    }}
  </div>
  <div class="footer">
    <div class="time">
      <mat-icon inline>schedule</mat-icon>
      <div>{{ chatMenu.lastMessage.createdAt | timeAgo }}</div>
    </div>
    <div class="username">{{ chatMenu.lastMessage.sender }}</div>
  </div>
  <div class="background" *ngIf="chatMenu.isSeen"></div>
</div>
