.image-wrapper {
    width: 100%;
    height: 30%;
    position: relative;
}

.image-wrapper>img {
    height: 100%;
    width: 100%;
}

.spinner-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.img-btn {
    position: absolute;
    right: 1rem;
    bottom: 1rem;
}

.name-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    padding-top: 1rem;
}

.main-btns-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.table {
    border: 1px solid var(--primary);
    border-radius: 5px;
    padding: 1rem;
}

.two-col {
    margin-top: 1rem;
    display: flex;
    gap: 0.5rem;
}

.description-wrapper {
    display: flex;
    flex-direction: column;
    flex: 50%;
}

.description-wrapper > h1 {
    color: var(--primary);
}

.info-wrapper {
    display: flex;
    flex-direction: column;
    flex: 50%;
}

.table-row {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.divider {
    margin: 0.5rem 0;
}

.social-media {
    margin-top: 0.5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media (max-width: 960px) {
    .two-col {
        flex-direction: column;
    }
}