.main-wrapper {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.5rem;
}

.table {
  border: 1px solid var(--primary);
  border-radius: 5px;
  padding: 1rem;
  width: 100%;
}

.info-table {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.table > h2 {
  color: var(--primary);
}

.row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.social > a {
  text-decoration: none;
}

.btn-text {
  font-size: 10px;
}

.btn-wrapper {
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: space-around;
}

.name {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lock-wrapper {
    position: absolute;
    left: 100%;
    top: -5px;
}