<div class="main-wrapper" *ngIf="restaurant">
  <gallery
    [items]="imageGallery"
    gallerize
    thumbPosition="bottom"
  ></gallery>

  <div class="info">

    <div class="name">
        <h1>{{ restaurant.name }}</h1>
        <div class="lock-wrapper">
            <mat-icon [ngStyle]="{
                'color': restaurant.isOpen ? 'var(--success)' : 'var(--warning)'
            }">{{ restaurant.isOpen ? 'lock_open': 'lock' }}</mat-icon>
        </div>
    </div>

      <div class="btn-wrapper">
            <button type="button" mat-raised-button>
                <mat-icon>group</mat-icon>
                <div class="btn-text">{{ restaurant.employeesNumber }}</div>
            </button>
            <button type="button" mat-raised-button>
                <mat-icon>restaurant_menu</mat-icon>
                <div class="btn-text">{{ restaurant.menusNumber }}</div>
            </button>
      </div>

      <div class="table">
        <h2>Description</h2>
        <p>{{ restaurant.description }}</p>
      </div>

      <div class="table info-table">
        <div class="row">
            <div>Country</div>
            <div>{{ restaurant.country }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div>City</div>
            <div>{{ restaurant.city }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div>Address</div>
            <div>{{ restaurant.address }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div>Postal Code</div>
            <div>{{ restaurant.postalCode }}</div>
        </div>
        <mat-divider></mat-divider>
        <div class="row">
            <div>Phone</div>
            <div>{{ restaurant.phoneNumber }}</div>
        </div>
      </div>

      <div class="table social">
        <button type="button" mat-button>
            <a href="{{restaurant.facebookUrl}}">Facebook</a>
        </button>
        <button type="button" mat-button>
            <a href="{{restaurant.instagramUrl}}">Instagram</a>
        </button>
        <button type="button" mat-button>
            <a href="{{restaurant.websiteUrl}}">Website</a>
        </button>
      </div>
  </div>
</div>
