.blocked-users-wrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
}

.paginator-wrapper {
    margin-top: 1rem;
}

.paginator {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    color: var(--primary);
}